src/backend/node-red.json
[{"id":"c4c39a1c.def7a8","type":"tab","label":"http API","disabled":false,"info":""},{"id":"72ea509d.60da2","type":"comment","z":"c4c39a1c.def7a8","name":"User Login","info":"","x":160,"y":40,"wires":[]},{"id":"24b29e10.b94fb2","type":"http in","z":"c4c39a1c.def7a8","name":"","url":"/users/authenticate","method":"post","upload":false,"swaggerDoc":"","x":170,"y":120,"wires":[["68cefb92.91f684"]]},{"id":"514d220e.3ab13c","type":"http response","z":"c4c39a1c.def7a8","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":830,"y":120,"wires":[]},{"id":"fc1843eb.b3ad6","type":"sqlite","z":"c4c39a1c.def7a8","mydb":"670da5a.b4b495c","sqlquery":"msg.topic","sql":"","name":"Find User","x":520,"y":120,"wires":[["f464d44a.570e68"]]},{"id":"68cefb92.91f684","type":"function","z":"c4c39a1c.def7a8","name":"Find User Query","func":"msg.topic = 'select * from users where username = \"' + msg.payload.username + '\" and password = \"' + msg.payload.password + '\";' ;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":60,"wires":[["fc1843eb.b3ad6"]]},{"id":"f464d44a.570e68","type":"function","z":"c4c39a1c.def7a8","name":"Find User Response","func":"var response = {\"userId\": \"empty\"};\nmsg.statusCode = 500;\nif (msg.payload.length === 1) {\n    msg.statusCode = 200;\n    response = {\"userId\": msg.payload[0].userId};\n} else {\n    msg.statusCode = 404;\n    response = {\"msg\": \"Not Found\"};\n}\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":60,"wires":[["514d220e.3ab13c"]]},{"id":"406b22ef.9dbf4c","type":"comment","z":"c4c39a1c.def7a8","name":"POST Plant","info":"","x":170,"y":240,"wires":[]},{"id":"e296eceb.4aca","type":"http in","z":"c4c39a1c.def7a8","name":"","url":"/plant","method":"post","upload":false,"swaggerDoc":"","x":150,"y":320,"wires":[["f75dc1d4.12aa3"]]},{"id":"1cb9377d.6c9739","type":"http response","z":"c4c39a1c.def7a8","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":830,"y":320,"wires":[]},{"id":"1e1fc00.9adcf4","type":"sqlite","z":"c4c39a1c.def7a8","mydb":"670da5a.b4b495c","sqlquery":"msg.topic","sql":"","name":"Insert Plant","x":530,"y":320,"wires":[["200f7ea.776c482"]]},{"id":"f75dc1d4.12aa3","type":"function","z":"c4c39a1c.def7a8","name":"Insert Plant Query","func":"msg.topic = 'insert into plants (userId, typeId, moistureLimit, photoLimit, name) values (';\nmsg.topic += msg.payload.userId + ', ' + msg.payload.typeId + ', ' + msg.payload.moistureLimit + ', ' + msg.payload.photoLimit + ', \"' + msg.payload.name + '\") ;';\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["1e1fc00.9adcf4"]]},{"id":"200f7ea.776c482","type":"function","z":"c4c39a1c.def7a8","name":"Insert Plant","func":"var response = {\"msg\": \"OK\"};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["1cb9377d.6c9739"]]},{"id":"f4ea6b11.f91ce8","type":"comment","z":"c4c39a1c.def7a8","name":"GET Plant","info":"","x":160,"y":420,"wires":[]},{"id":"5f95357b.d4159c","type":"http in","z":"c4c39a1c.def7a8","name":"","url":"/plant/:userId","method":"get","upload":false,"swaggerDoc":"","x":170,"y":500,"wires":[["1f59e5f5.d1905a"]]},{"id":"283a8b07.62c6f4","type":"http response","z":"c4c39a1c.def7a8","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":830,"y":500,"wires":[]},{"id":"cd1b6975.9cbe38","type":"sqlite","z":"c4c39a1c.def7a8","mydb":"670da5a.b4b495c","sqlquery":"msg.topic","sql":"","name":"Select Plant","x":530,"y":500,"wires":[["41e0e928.023818"]]},{"id":"1f59e5f5.d1905a","type":"function","z":"c4c39a1c.def7a8","name":"Select Plant Query","func":"msg.topic = 'select * from plants where userId = ' + msg.req.params.userId + ' ;'; \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["cd1b6975.9cbe38"]]},{"id":"41e0e928.023818","type":"function","z":"c4c39a1c.def7a8","name":"Select Plant","func":"var response = {\"msg\": \"Bad Gateway\"};\nmsg.statusCode = 500;\nif (msg.payload.length) {\n    msg.statusCode = 200;\n    response = msg.payload;\n} else {\n    msg.statusCode = 404;\n    response = {\"msg\": \"Not Found\"};\n}\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":440,"wires":[["283a8b07.62c6f4"]]},{"id":"259176ce.be7a4a","type":"comment","z":"c4c39a1c.def7a8","name":"DELETE Plant","info":"","x":170,"y":580,"wires":[]},{"id":"949491bd.d650e","type":"http in","z":"c4c39a1c.def7a8","name":"","url":"/plant/:plantId","method":"delete","upload":false,"swaggerDoc":"","x":180,"y":660,"wires":[["38e9592a.880ac6"]]},{"id":"2632f67.cabe30a","type":"http response","z":"c4c39a1c.def7a8","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":830,"y":660,"wires":[]},{"id":"ae6a5a71.8cf548","type":"sqlite","z":"c4c39a1c.def7a8","mydb":"670da5a.b4b495c","sqlquery":"msg.topic","sql":"","name":"Select Plant","x":530,"y":660,"wires":[["372f32c.e0037ce"]]},{"id":"38e9592a.880ac6","type":"function","z":"c4c39a1c.def7a8","name":"Select Plant Query","func":"msg.topic = 'delete from plants where plantId = ' + msg.req.params.plantId + ' ;'; \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":600,"wires":[["ae6a5a71.8cf548"]]},{"id":"372f32c.e0037ce","type":"function","z":"c4c39a1c.def7a8","name":"Select Plant","func":"var response = {\"msg\": \"ΟΚ\"};\nmsg.statusCode = 200;\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":600,"wires":[["2632f67.cabe30a"]]},{"id":"670da5a.b4b495c","type":"sqlitedb","z":"","db":"/home/papamitsos/SmartGarden.db","mode":"RWC"}]